# general
log
/_build/
*~
erl_crash.dump
.tags*
*.sublime-*

.DS_Store

# rebar
/_checkouts/

# generated
# apps/swag_server/*
# apps/swag_client/*
src/swag_wallet_server*.erl
src/swag_wallet_client*.erl

src/swag_payres_server*.erl
src/swag_payres_client*.erl

src/swag_privdoc_server*.erl
src/swag_privdoc_client*.erl
*.beam


# containerization
\#*
.\#*
Dockerfile
docker-compose.yml
