# general
log
/_build/
*~
erl_crash.dump
.tags*
*.sublime-*
.edts
*.iml
.idea

.DS_Store

# rebar
/_checkouts/

# generated
apps/swag_*

*.beam

# containerization
\#*
.\#*
Dockerfile
docker-compose.yml
